<html lang="en">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->
	{% load static %}
	{% load staticfiles %}
	{% load i18n %}
	{% load crispy_forms_tags %}
	{% load widget_tweaks %}
	<head>
		<meta charset="utf-8" />
		<title>SecuriPass | Password Reset </title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="Preview page of Metronic Admin Theme #3 for " name="description" />
		<meta content="" name="author" />
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
		<link href="{% static 'global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<link href="{% static 'global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN THEME GLOBAL STYLES -->
		<link href="{% static 'global/css/components-md.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
		<link href="{% static 'global/css/plugins-md.min.css' %}" rel="stylesheet" type="text/css" />
		<!-- END THEME GLOBAL STYLES -->
		<!-- BEGIN PAGE LEVEL STYLES -->
		<link href="{% static 'pages/css/login.min.css' %}" rel="stylesheet" type="text/css" />
		<!-- END PAGE LEVEL STYLES -->
		<!-- BEGIN THEME LAYOUT STYLES -->
		<!-- END THEME LAYOUT STYLES -->
		<link rel="shortcut icon" href="favicon.ico" /> </head>
		<!-- END HEAD -->
		<body class=" login">
			<!-- BEGIN LOGO -->
			<div class="logo">
				<a href="index.html">
				<img src="../assets/pages/img/logo-big.png" alt="" /> </a>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN LOGIN -->
			<div class="content">
				
				<h3 class="font-green">Forget Password ?</h3>
				<p> Enter your e-mail address below to reset your password. </p>
				<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
					<div class="form-group">
						{% csrf_token %}
						{{ form| crispy }}
					</div>
					<div class="form-actions">
						<a href="{% url 'account_login' %}" type="button" id="back-btn" class="btn green btn-outline">Back</a>
						<button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
					</div>
				</form>
				<p>Please contact us if you have any trouble resetting your password.</p>
			</div>
		</body>
	</html>